.App {
  text-align: center;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.landing {
  background-color: #000;
}
.michal-background {
  background-image: url("./assets/michal.jpg");
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
}

.logo-name {
  font-family: "Lexend Mega", sans-serif;
  color: #fff;
  font-size: 60px;
  width: 20px;
}

.logo-name-pages {
  font-family: "Lexend Mega", sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 100px;
}
.logo-name-pages a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 0 10%;
}

.navbar_link {
  display: block;
  font-size: 30px;
  text-decoration: none;
}

.navbar_link a {
  text-decoration: none;
  color: #fff;
}

.main_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0 10%;
}

.blog_section {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c650.638C118.833%2c636.345%2c207.937%2c540.22%2c293.186%2c456.206C364.882%2c385.549%2c402.422%2c294.116%2c451.145%2c206.031C504.468%2c109.63%2c594.302%2c24.942%2c592.662%2c-85.212C590.971%2c-198.782%2c504.979%2c-288.546%2c442.369%2c-383.315C370.478%2c-492.133%2c321.516%2c-633.511%2c199.68%2c-680.047C76.774%2c-726.991%2c-63.216%2c-677.231%2c-182.648%2c-622.043C-291.6%2c-571.697%2c-364.573%2c-474.71%2c-442.405%2c-383.346C-519.57%2c-292.764%2c-609.584%2c-207.561%2c-634.805%2c-91.271C-660.863%2c28.877%2c-635.508%2c155.079%2c-583.323%2c266.395C-531.458%2c377.027%2c-444.348%2c465.43%2c-342.31%2c532.644C-239.436%2c600.408%2c-122.305%2c665.349%2c0%2c650.638' fill='%231b1b1b'%3e%3c/path%3e%3cpath d='M1440 1648.596C1565.093 1654.813 1705.679 1724.865 1808.108 1652.787 1910.968 1580.406 1877.463 1418.0520000000001 1930.012 1303.781 1982.763 1189.07 2121.257 1108.933 2116.221 982.774 2111.179 856.457 1989.721 770.903 1904.996 677.078 1821.996 585.162 1749.761 461.09900000000005 1627.472 441.528 1505.9470000000001 422.07899999999995 1407.024 532.986 1292.929 579.124 1192.6100000000001 619.691 1078.019 624.336 997.27 696.3720000000001 910.951 773.377 833.911 876.6659999999999 829.811 992.268 825.791 1105.627 931.896 1187.392 976.152 1291.8319999999999 1022.135 1400.346 1001.261 1545.476 1094.68 1617.328 1188.188 1689.248 1322.1779999999999 1642.74 1440 1648.596' fill='%231f1f1f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.post {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.post-mobile {
  margin: 0 auto;
}

.post-media {
  width: 480px;
  height: 270px;
  overflow: hidden;
  border-radius: 5px;
}

.post-media-mobile {
  width: 360px;
  height: 202.5px;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
}

.post-media-image {
  width: 480px;
}

.post-media-image-mobile {
  width: 360px;
}

.post-text {
  width: 480px;
}

.post-text-mobile {
  max-width: 360px;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 60px;
}

.text-left {
  text-align: left;
  margin-left: 50px;
}
.text-right {
  text-align: right;
  margin-right: 50px;
}

.mt-20 {
  padding-top: 100px;
}

.mt-5 {
  margin-top: 10px;
}

.footer {
  background-color: #333333;
  color: gray;
  text-align: center;
  padding: 50px 0;
}

.youtube-icon,
.instagram-icon {
  font-size: 30px;
  margin-right: 5px;
}
.instagram-icon {
  color: #dd2a7b;
}
.youtube-icon {
  color: #ff0000;
}
.copyright {
  margin-top: 10px;
  display: block;
}

.icons-contact {
  margin-top: 10px;
}

.about {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c650.638C118.833%2c636.345%2c207.937%2c540.22%2c293.186%2c456.206C364.882%2c385.549%2c402.422%2c294.116%2c451.145%2c206.031C504.468%2c109.63%2c594.302%2c24.942%2c592.662%2c-85.212C590.971%2c-198.782%2c504.979%2c-288.546%2c442.369%2c-383.315C370.478%2c-492.133%2c321.516%2c-633.511%2c199.68%2c-680.047C76.774%2c-726.991%2c-63.216%2c-677.231%2c-182.648%2c-622.043C-291.6%2c-571.697%2c-364.573%2c-474.71%2c-442.405%2c-383.346C-519.57%2c-292.764%2c-609.584%2c-207.561%2c-634.805%2c-91.271C-660.863%2c28.877%2c-635.508%2c155.079%2c-583.323%2c266.395C-531.458%2c377.027%2c-444.348%2c465.43%2c-342.31%2c532.644C-239.436%2c600.408%2c-122.305%2c665.349%2c0%2c650.638' fill='%231b1b1b'%3e%3c/path%3e%3cpath d='M1440 1648.596C1565.093 1654.813 1705.679 1724.865 1808.108 1652.787 1910.968 1580.406 1877.463 1418.0520000000001 1930.012 1303.781 1982.763 1189.07 2121.257 1108.933 2116.221 982.774 2111.179 856.457 1989.721 770.903 1904.996 677.078 1821.996 585.162 1749.761 461.09900000000005 1627.472 441.528 1505.9470000000001 422.07899999999995 1407.024 532.986 1292.929 579.124 1192.6100000000001 619.691 1078.019 624.336 997.27 696.3720000000001 910.951 773.377 833.911 876.6659999999999 829.811 992.268 825.791 1105.627 931.896 1187.392 976.152 1291.8319999999999 1022.135 1400.346 1001.261 1545.476 1094.68 1617.328 1188.188 1689.248 1322.1779999999999 1642.74 1440 1648.596' fill='%231f1f1f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  font-size: 28px;
  background-attachment: fixed;
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.about_title {
  margin-bottom: 20px;
}

.animate-title {
  animation: slide-in 1.5s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  .logo-name {
    font-size: 30px;
  }
  .main_info {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar {
    padding: 0;
  }
  .about_title {
    font-size: 35px;
  }
  .about {
    font-size: 20px;
  }
}
